@model Hooking.Models.AdventureAppeal

    @{
        ViewData["Title"] = "Odgovor";
    }
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="AdventureAppeals" asp-action="SubmitAnswer">
                <div class="form-group">
                    <label class="control-label">Odgovor</label>
                    <textarea class="form-control" name="answer" rows="3" cols="20"></textarea>
                </div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="UserEmail" />
                <input type="hidden" asp-for="AdventureId" />
                <div class="form-group">
                    <input type="submit" value="Odgovori" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-controller="AdventureAppeals" asp-action="Index">Nazad</a>
    </div>
