@model Hooking.Models.FilteredCottages

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>FilteredCottages</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CottageId" class="control-label"></label>
                <input asp-for="CottageId" class="form-control" />
                <span asp-validation-for="CottageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoomCount" class="control-label"></label>
                <input asp-for="RoomCount" class="form-control" />
                <span asp-validation-for="RoomCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Area" class="control-label"></label>
                <input asp-for="Area" class="form-control" />
                <span asp-validation-for="Area" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AverageGrade" class="control-label"></label>
                <input asp-for="AverageGrade" class="form-control" />
                <span asp-validation-for="AverageGrade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GradeCount" class="control-label"></label>
                <input asp-for="GradeCount" class="form-control" />
                <span asp-validation-for="GradeCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
