@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Potvrda";
}

<h1>@ViewData["Title"]</h1>
<p>
    <br/>Uspešno ste potvrdili Vaš e-mail. Za početnu stranicu, kliknite <a asp-area="" asp-controller="Home" asp-action="Index">ovde</a>.
</p>