@model Hooking.Models.BoatReservation

@{
    ViewData["Title"] = "Create";
}

<h4>Kreiraj rezervaciju</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateView">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonCount" class="control-label"></label>
                <input asp-for="PersonCount" class="form-control" />
                <span asp-validation-for="PersonCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Potvrdi" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
