@model Hooking.Models.BoatReview

@{
    ViewData["Title"] = "Create";
}
@{

    Boat bt = (Boat)ViewData["Boat"];
    UserDetails boatOwner = (UserDetails)ViewData["BoatOwner"];
}
<h4>Zalba na brod i vlasnika broda</h4>
<hr />

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Naziv broda
        </dt>
        <dd class="col-sm-10">
            @bt.Name
        </dd>
        <dt class="col-sm-2">
            Ime vlasnika
        </dt>
        <dd class="col-sm-10">
            @boatOwner.FirstName
        </dd>
        <dt class="col-sm-2">
            Prezime vlasnika
        </dt>
        <dd class="col-sm-10">
            @boatOwner.LastName
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Review" class="control-label"></label>
                <input asp-for="Review" class="form-control" />
                <span asp-validation-for="Review" class="text-danger"></span>
            </div>

            <select class="form-control" asp-for="Grade" asp-validation-for="Grade" style="margin-bottom:15px;">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>

            <div class="form-group">
                <input type="submit" value="Oceni" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a href='javascript:history.go(-1)'>Nazad</a>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
