
@{
    ViewData["Title"] = "Evidencija";
}

<h1>@ViewData["Title"]</h1>

<h3 style="color: red">@ViewData["StatusMessage"]</h3>
<br />
<br />

<a asp-area="" asp-controller="CottageOwners" asp-action="Index">Vlasnici vikendica</a>
<br />
<br />
<a asp-area="" asp-controller="Cottages" asp-action="Index">Vikendice</a>
<br />
<br />
<a asp-area="" asp-controller="BoatOwners" asp-action="Index">Vlasnici brodova</a>
<br />
<br />
<a asp-area="" asp-controller="Boats" asp-action="Index">Brodovi</a>
<br />
<br />
<a asp-area="" asp-controller="Instructors" asp-action="Index">Instruktori</a>

