@{
    ViewData["Title"] = "Žalbe";
}


<h1>@ViewData["Title"]</h1>
<br />
<br />
<a asp-area="" asp-controller="AdventureAppeals" asp-action="Index">Avanture</a>
<br />
<br />
<a asp-area="" asp-controller="CottageAppeals" asp-action="Index">Vikendice</a>
<br />
<br />
<a asp-area="" asp-controller="BoatAppeals" asp-action="Index">Brodovi</a>

