@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Nažalost, došlo je do problema prilikom željene akcije (konkurentnost). Molimo Vas pokušajte ponovo.</h2>
