<h1>Recenzije rezervacija</h1>
<br />
<a asp-controller="CottageReservationReviews" asp-action="Index">Vikendice</a>
<br />
<br />
<a asp-controller="BoatReservationReviews" asp-action="Index">Brodovi</a>
<br />
<br />
<a asp-controller="AdventureReservationReviews" asp-action="Index">Avanture</a>
