<h1>Revizije</h1>
<br />
<a asp-controller="CottageReviews" asp-action="Index">Vikendice</a>
<br />
<br />
<a asp-controller="BoatReviews" asp-action="Index">Brodovi</a>
<br />
<br />
<a asp-controller="AdventureReviews" asp-action="Index">Avanture</a>